*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
 body{
    height:100%;
    width:100%;
 }
 nav{
    
    background-color: #0267;
    position: fixed;
    top:0 ;
    left:0;
    right:0;
    bottom: 90%;
    transition: all .5s ease;
 }
 .hideShow{
  transform: translateY(-100%);
 }
 section{
    height:100vh;
    width:100%;
 }