* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,body{
  height:100%;
  width:100%;
}
.main{
  width: 100%;
  min-height: auto;
  background-color: #0e0e0e;
  padding: 0px 14px;
  color: 
  rgb(218, 197, 167);
 ;

  .hero{

    width:100%;
    display:grid;
    place-items: center;
    padding-top:20px ;

     img{
      width:35%;
      object-fit: cover;
      opacity: 1;
      // animation: imageAnimate 1.3s ease .7s forwards;
     
    }
  @keyframes imageAnimate {
    0%{
      transform:  translateY(-10%);
     
    }
    100%{
      transform:  translateY(0);
      opacity: 1;
    }
    
  }
    
    .title h3{
      font-family: "Gambetta Light Italic", "Gambetta Light Italic Placeholder", sans-serif;
      font-size: 3.3rem;
      text-align: center;
      font-weight: 400;
      line-height: 55px;
      opacity: 1;
      transition: all ease;
  // animation: textAnimate 2s ease-in-out 1s forwards;
    
    
      }
      .title h3:nth-child(2){
        animation-delay: 1.5s;
      }
      .title h3:nth-child(3){
        animation-delay: 2s;
      }
      @keyframes textAnimate {
        0%{
          transform:  translateX(-10%);
         
        }
        100%{
          transform:  translateX(0%);
          opacity: 1;

        }
      }
    p{
      margin: 20px 0;
      text-align: center;
      line-height: 25px;
      opacity: .5;
      width: 85%;
      font-size: 1.1rem;
      // animation: pAnimate 2s ease ;
      
    }
      @keyframes pAnimate {
        0%{
          scale: .1;
        }
        100%{
          scale: 1;
        }
        
      }
  }



  
  
}


@media (min-width:620px)  {
  html {
    font-size: clamp(19px, 1vw, 22px);
  }
  .hero {
    
    .title h3:nth-child(1) {
      display: inline;
      padding-right: 10px;
    }
    .title h3:nth-child(2) {
      display: inline;
    }
    .title h3:nth-child(3) {
      padding-top: 15px;
    }
    .title h3 {
      font-size: 4.2rem;
      letter-spacing: 4px;
    }
    p {
      width: 60%;
      font-size: 3rem;
      padding: 0 1vw;
      br {
        display: none;
      }
    }
  }
}


@media (min-width:1080px) {



  html{
   
  }
  .hero{
      p{
     font-size:1rem;
        padding:12px 230px;
      }
  }
  
}

